<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Name="Dump Extractor 1.0" Id="06b762d5-2534-4967-b1e4-ff60d40f6a3a"
		UpgradeCode="2c81a1a2-21ed-43b4-a88e-b3c6c055d82a" Language="1033" Codepage="1252"
		Version="1.0.0" Manufacturer="Eve-Val">
		<Package Id="*" Keywords="Installer" Description="Eve-Val's Dump Extractor 1.0 Installer"
			Manufacturer="Eve-Val" InstallerVersion="100" Languages="1033" Compressed="yes"
			SummaryCodepage="1252" />
		<Media Id="1" Cabinet="DumpExtractor.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
		<Property Id="DiskPrompt" Value="Eve-Val's Dump Extractor 1.0 Installation [1]" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="EveVal" Name="Eve-Val">
					<Directory Id="INSTALLDIR" Name="Dump Extractor 1.0">
						<Component Id="MainExecutable" Guid="1691812c-3472-4f7c-8de5-602e4b01dbef">
							<File Id="GuiExe" Name="DumpExtractor.exe" DiskId="1"
								Source="EVE-Val SQL to YAML Tool\bin\Release\EVE-Val SQL to YAML Tool.exe" KeyPath="yes">
								<Shortcut Id="startmenuDumpExtractor10" Directory="ProgramMenuDir" Name="Dump Extractor 1.0"
									WorkingDirectory="INSTALLDIR" Icon="DumpExtractor.ico" IconIndex="0" Advertise="yes" />
								<Shortcut Id="desktopDumpExtractor10" Directory="DesktopFolder" Name="Dump Extractor 1.0"
									WorkingDirectory="INSTALLDIR" Icon="DumpExtractor.ico" IconIndex="0" Advertise="yes" />
							</File>
						</Component>
						<Component Id="CLIExecutable" Guid="1fa19fa8-527c-4e3a-b815-7629b8619618">
							<File Id="CLIExe" Name="DumpExtractorCLI.exe" DiskId="1"
								Source="EVE-Val SQL to YAML Tool\SQL To YAML CLI\bin\Release\sql_to_yaml.exe" KeyPath="yes">
								<Shortcut Id="startmenuDumpExtractor10CLI" Directory="ProgramMenuDir" Name="Dump Extractor 1.0 CLI"
									WorkingDirectory="INSTALLDIR" Icon="DumpExtractor.ico" IconIndex="0" Advertise="yes" />
								<Shortcut Id="desktopDumpExtractor10CLI" Directory="DesktopFolder" Name="Dump Extractor 1.0 CLI"
									WorkingDirectory="INSTALLDIR" Icon="DumpExtractor.ico" IconIndex="0" Advertise="yes" />
							</File>
						</Component>
						<Component Id="HelperLibrary" Guid="f366f646-6a36-47ba-89a8-7d4a19393ae8">
							<File Id="HelperDLL" Name="SQLToYAML.dll" DiskId="1"
								Source="SQLToYAML\bin\Release\SQLToYAML.dll" KeyPath="yes" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="Foobar 1.0">
					<Component Id="ProgramMenuDir" Guid="a358a729-cd57-441c-a62f-f8843335eb5d">
						<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\Eve-Val\Dump Extractor" Type="string" Value="" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
		<Feature Id="Complete" Title="Dump Extractor 1.0" Description="The complete package" Display="expand"
			ConfigurableDirectory="INSTALLDIR" Level="1">
			<ComponentRef Id="MainExecutable" />
			<ComponentRef Id="CLIExecutable" />
			<ComponentRef Id="HelperLibrary" />
			<ComponentRef Id="ProgramMenuDir" />
		</Feature>
		<UIRef Id="WixUI_InstallDir" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<Icon Id="DumpExtractor.ico" SourceFile="DumpExtractor.ico" />
	</Product>
</Wix>
